/* General */
body {
  position: fixed; 
  overflow-y: scroll;
  overflow: hidden;
  width: 100%;
}

#top-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#image-container img {	
  /* Nearest-neighbor interp */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  
  width: 600px;
}

#lower {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#button-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
  margin: 3px;
}

.grid-item {
  padding: 3px;
  text-align: center;	white-space: normal;
  word-wrap: break-word;
}

.answer-button {
  width: 100%;
  height: 100px;
  white-space: normal;
  word-wrap: break-word;
}